@model PEOTest.Web.Models.EmployeeModel
@section Scripts
{
    <script src="~/js/employee.js"></script>
}

<div class="create-employee-form">
    <h2>Добавление сотрудника</h2>
    <form asp-action="create" asp-controller="home">
        <table>
            <tr>
                <td>
                    <label>Компания</label>
                </td>
                <td>
                    <select asp-for="CompanyId" asp-items="Model.Company"></select>
                    <input asp-for="CompanyName" type="hidden" />
                </td>
                <td>
                    <span asp-validation-for="CompanyName"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Подразделение</label>
                </td>
                <td>
                    <select asp-for="SubdivisionId" asp-items="Model.Subdivision"></select>
                    <input asp-for="SubdivisionName" type="hidden" />
                </td>
                <td>
                    <span asp-validation-for="SubdivisionName"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Должность</label>
                </td>
                <td>
                    <select asp-for="PostId" asp-items="Model.Post"></select>
                    <input asp-for="PostName" type="hidden" />
                </td>
                <td>
                    <span asp-validation-for="PostName"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="Surname">Фамилия</label>
                </td>
                <td>
                    <div class="input-group input-group-sm mb-1">
                        <input class="form-control" aria-label="Small" asp-for="Surname" />
                    </div>
                </td>
                <td>
                    <span asp-validation-for="Surname"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="Name">Имя</label>
                </td>
                <td>
                    <div class="input-group input-group-sm mb-1">
                        <input class="form-control" aria-label="Small" asp-for="Name" />
                    </div>
                </td>
                <td>
                    <span asp-validation-for="Name"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="Patronymic">Отчество</label>
                </td>
                <td>
                    <div class="input-group input-group-sm mb-1">
                        <input class="form-control" aria-label="Small" asp-for="Patronymic" />
                    </div>
                </td>
                <td>
                    <span asp-validation-for="Patronymic"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="Phone">Телефон</label>
                </td>
                <td>
                    <div class="input-group input-group-sm mb-1">
                        <input class="form-control" aria-label="Small" asp-for="Phone" />
                    </div>
                </td>
                <td>
                    <span asp-validation-for="Phone"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="Email">Почта</label>
                </td>
                <td>
                    <div class="input-group input-group-sm mb-1">
                        <input class="form-control" aria-label="Small" asp-for="Email" />
                    </div>
                </td>
                <td>
                    <span asp-validation-for="Email"></span>
                </td>
            </tr>
        </table>
        <div class="action-btn">
            <button class="btn btn-info btn-sm" type="submit">Отправить</button>
            <a asp-action="Index" class="btn btn-info btn-sm" type="button">Назад</a>
        </div>
    </form>
</div>