@model PEOTest.Web.Models.EmployeeModel

<h2>Добавление пользователя</h2>
<form asp-action="create" asp-controller="home">
    <p>
        <label asp-for="PostId">Должность</label>
        <select asp-for="PostId" asp-items="Model.Post"></select>
        <input asp-for="PostName" type="hidden" />
        <span asp-validation-for="PostName" />
    </p>
    <p>
        <input type="submit" value="Отправить" />
    </p>
</form>